version: "3"

services:
  # ========== RABBITMQ
  rabbit:
    image: rabbitmq:latest
    container_name: RABBITMQ
    ports:
      - "5672:5672"
      - "15672:15672"

  # ========== ORIG
  # Publishes 3 messages to topic my.o
  orig:
    container_name: ORIG
    build: ./orig
    environment:
      - RABBIT_HOST=amqp://rabbit
    depends_on:
      - rabbit
      - imed
      - obse
    restart: on-failure:10
    links:
      - rabbit

  # ========== IMED
  # Receives message from topic my.o
  # Publishes new message to topic my.i
  imed:
    container_name: IMED
    build: ./imed
    environment:
      - RABBIT_HOST=amqp://rabbit
    depends_on:
      - rabbit
      - obse
    restart: on-failure:10
    links:
      - rabbit

  # ========== OBSE
  # Receives message from any topic
  # Writes received messages into output file
  obse:
    container_name: OBSE
    build: ./obse
    environment:
      - RABBIT_HOST=amqp://rabbit
    depends_on:
      - rabbit
    restart: on-failure:10
    links:
      - rabbit
    ports:
      - "10010:9000"
    volumes:
      - output_data:/output_data

  # ========== HTTPSERV
  # Will show the output file on localhost:8080
  httpserv:
    container_name: HTTPSERV
    build: ./httpserv
    ports:
      - "8080:8080"
    volumes:
      - output_data:/output_data:ro

volumes:
  # To share the output file between OBSE and HTTPSERV
  output_data:
