version: "3"

services:
  rabbit:
    image: rabbitmq:latest
    container_name: rabbitmq
    #build: ./rabbitmq
    #build:
      #content: ./rabbit
      #dockerfile: Dockerfile
    ports:
      - "5672:5672"
      - "15672:15672"
    #healthcheck:
    #    test: ["CMD", "curl", "-f", "http://localhost:15672"]
    #    interval: 10s
    #    timeout: 10s
    #    retries: 5

  orig:
    container_name: ORIG
    build: ./orig
    environment:
      - RABBIT_HOST=amqp://rabbit
    #deploy:
    #  restart_policy:
    #    condition: on-failure
    #    delay: 10s
    #    max_attempts: 3
    depends_on:
      - rabbit
      - imed
      - obse
    restart: on-failure:10
    links:
      - rabbit

  imed:
    container_name: IMED
    build: ./imed
    environment:
      - RABBIT_HOST=amqp://rabbit
    #deploy:
    #  restart_policy:
    #    condition: on-failure
    #    delay: 10s
    #    max_attempts: 5
    depends_on:
      - rabbit
      - obse
    restart: on-failure:10
    links:
      - rabbit

  obse:
    container_name: OBSE
    build: ./obse
    environment:
      - RABBIT_HOST=amqp://rabbit
    #deploy:
    #  restart_policy:
    #    condition: on-failure
    #    delay: 10s
    #    max_attempts: 5
    depends_on:
      - rabbit
    restart: on-failure:10
    links:
      - rabbit
    ports:
      - "10010:9000"
    volumes:
      - output_data:/output_data

  httpserv:
    container_name: HTTPSERV
    build: ./httpserv
    ports:
      - "8080:8080"
    volumes:
      - output_data:/output_data:ro
    depends_on:
      - obse

volumes:
  output_data:
